.container {
    margin: auto;
    text-align: center;
}

img {
    position:relative;
    opacity: 1;
    display:block;
    width: 320px;
    height: 320px;
    border: 10px solid darkred;
    border-style: outset;
    border-radius: 25px;
    transition: .5s ease;
    backface-visibility: hidden;
    background: transparent
}

.img-container {
    display: inline-block;
    position: relative;

}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;

}

.img-container:hover .overlay {
    opacity: 1;
}

.img-container:hover img {
    opacity: .7;
}

.text {
    color: white;
    font-size: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: fantasy;

}

body{
    background-image: url("doom.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
h1{
    font-family: 'Doom 2016 Left', sans-serif;
    font-family: 'Doom 2016 Right', sans-serif;
    font-family: 'Doom 2016 Text', sans-serif;
    font-size: 200px;
    text-align: center;
    margin: 0;
    color: white;
}